In [1]:
import pandas as pd

In [2]:
dat1 = pd.read_csv('./data/newyork_yellow_taxi_2019-01.csv')

In [3]:
dat1.head()

,Unnamed: 0,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,...,pickup_date,pickup_time,dropoff_date,dropoff_time,pickup_weekday_index,dropoff_weekday_index,pickup_holiday,dropoff_holiday,pickup_time_index,dropoff_time_index
0,0,1,1,1.5,1,N,151,239,1,7.0,...,2019-01-01,00:46:40,2019-01-01,00:53:20,2,2,0,0,1,1
1,1,1,1,2.6,1,N,239,246,1,14.0,...,2019-01-01,00:59:47,2019-01-01,01:18:59,2,2,0,0,1,2
2,2,2,3,0.0,1,N,236,236,1,4.5,...,2018-12-21,13:48:30,2018-12-21,13:52:40,5,5,0,0,27,27
3,3,2,5,0.0,1,N,193,193,2,3.5,...,2018-11-28,15:52:25,2018-11-28,15:55:45,3,3,0,0,31,31
4,4,2,5,0.0,2,N,193,193,2,52.0,...,2018-11-28,15:56:57,2018-11-28,15:58:33,3,3,0,0,31,31

In [4]:
dat1.shape

(7667792, 27)

In [6]:
import os
from glob import glob
import pandas as pd

data_list = glob(os.path.join('./data/', '*.csv'))

In [7]:
data_list

['./data/newyork_yellow_taxi_2019-04.csv',
 './data/newyork_yellow_taxi_2019-03.csv',
 './data/newyork_yellow_taxi_2019-02.csv',
 './data/newyork_yellow_taxi_2019-01.csv']

In [8]:
a = pd.read_csv(data_list[0])
b = pd.read_csv(data_list[1])

In [9]:
c = pd.concat([a,b])

In [11]:
c.head()

,Unnamed: 0,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,...,pickup_date,pickup_time,dropoff_date,dropoff_time,pickup_weekday_index,dropoff_weekday_index,pickup_holiday,dropoff_holiday,pickup_time_index,dropoff_time_index
0,0,1,1,0.5,1,N,239,239,1,4.0,...,2019-04-01,00:04:09,2019-04-01,00:06:35,1,1,0,0,0,0
1,1,1,1,0.7,1,N,230,100,2,4.5,...,2019-04-01,00:22:45,2019-04-01,00:25:43,1,1,0,0,0,0
2,2,1,1,10.9,1,N,68,127,1,36.0,...,2019-04-01,00:39:48,2019-04-01,01:19:39,1,1,0,0,1,2
3,3,1,1,0.2,1,N,68,68,2,3.5,...,2019-04-01,00:35:32,2019-04-01,00:37:11,1,1,0,0,1,1
4,4,1,1,4.8,1,N,50,42,1,15.5,...,2019-04-01,00:44:05,2019-04-01,00:57:58,1,1,0,0,1,1

In [12]:
c.columns

Index(['Unnamed: 0', 'VendorID', 'passenger_count', 'trip_distance',
       'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID',
       'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'pickup_date', 'pickup_time', 'dropoff_date',
       'dropoff_time', 'pickup_weekday_index', 'dropoff_weekday_index',
       'pickup_holiday', 'dropoff_holiday', 'pickup_time_index',
       'dropoff_time_index'],
      dtype='object')